a{
    color: black;
}
.home_c{
    color: black;
}
#one{
    font-family: "Sofia";
    font-size: 50px;
    text-align: center;
}

nav ul {
  margin: 0px;
  padding: 0;
 
  width: 100%;
}
nav ul li { 
display: inline-block;
  text-align: center;
  width: 10%;
}
nav ul li a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  background-color:bisque;
  color:dimgrey;
text-decoration: none;
}
